main {
  text-align: center;
}

.board {
  margin: 0 auto 50px auto;
}

.board__square {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  text-align: center;
}

.button {
  min-width: 64px;
  min-height: 36px;
  padding: 0 16px 0 16px;
  color: white;
  background: gray;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.8);
}
.button:hover {
  box-shadow: none;
  transform: translateY(4px);
}

.button__danger {
  background: red;
}
